<div class="centered-content">
  <div class="modal-box">
    <h1 class="title">
      Editar lista
    </h1>

    <input #listTitleInput class="input has-background-light is-medium" type="text"
      placeholder="Ingresa el nombre de la lista...">
    <br><br>
    <div class="buttons is-right">
      <button class="button is-medium" routerLink="/">Cancelar</button>
      <button class="button is-primary has-text-white is-medium"
        (click)="updateList(listTitleInput.value)">Guardar</button>
    </div>


  </div>
</div>